<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Logado com sucesso.</h1>
    <h3>Navegação</h3>
    <div>
    <a href="{{url_for('login')}}">Retornar para pagina de Login.</a><br>
    <a href="{{url_for('logout')}}">Retornar para Home.</a>

    </div>
    <h3>Atualização de Senha</h3>
    <form method="POST" action="">
        {{form.hidden_tag() }}
        {{form.username}}
        {{form.novasenha}}
        {{form.submit}}
    </form>
    <div>
        {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
        {% endfor %}
    </div><br>
    <a href="{{url_for('logout')}}">Fazer Logout.</a>

</body>

</html>