<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>Bem vindo!UC001 - Efetuar Login</h1>
    <p>
        <strong>Completado:</strong><br>
        -Função de login¹<br>
        -Navegação no Dashboard<br>
        -Atualização de senha<br>
        -Usuarios pre-cadastrados: (Login='admin', Senha='admin', CPF='1234') e (Login='user', Senha='user',
        CPF='4321')<br>
        1.Login é apenas uma validação de danos no formulario, o dashboard pode ser acessado por url.
        <br>
        <strong>Não Implementados:</strong><br>
        Mensagens não são exibidas como popup.<br>
        <p>Para iniciar o teste de envio de emails é necessario utilizar o comando no terminal: <br>
            <strong>python3 -m smtpd -c DebuggingServer -n localhost:1025
            </strong>
            </p><br>

    </p>
    <a href="{{url_for('login')}}">Login Here</a><br>
</body>

</html>